<div id="highlight-popover" class="highlight-popover" hidden>
  <button data-action="interesting" title="Interesting">{{ icon('thumb-up', 18) }}</button>
  <button data-action="not_interesting" title="Not interesting">{{ icon('thumb-down', 18) }}</button>
  <button data-action="comment" title="Comment">{{ icon('ask', 18) }}</button>
  <button data-action="copy" title="Copy">{{ icon('clipboard', 18) }}</button>
  <form data-comment-form hidden>
    <textarea name="comment" rows="2" placeholder="Why does this matter?"></textarea>
    <button type="submit">Save</button>
  </form>
</div>
